/* .phy{
    background-color: #FBE4FF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */



.philosophy{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 700px;

}

.philosophy__body{
    max-width: 1200px;
    margin: auto;
    padding: 80px 30px;
}

.philosophy__title {
    color: black;
}

.philosophy__text {
    color: var(--bg-color-darkGrey-default-page);
    max-width: 500px;
}


.container.philosophy{
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.philosophy__photo {

    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    


    

}

.philosophy__linkedin {
    color: black;
    text-decoration: underline;
}


@media (min-width: 620px) {

    .philosophy__photo{
        max-width: 500px;
    }

    .philosophy {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        

    }

    
   
    
}
